.mhi-button {
  background-color: $human-blue;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-transform: none;

  &:hover {
    background-color: $human-pink !important; // TODO: look into why this doesn't work w/out important
  }

  &:disabled {
    background-color: $human-grey;
    color: white;
  }
}
