@mixin mui-button {
  // Ripped from .MuiButtonBase-root
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-appearance: none;

  // Ripped from .MuiButton-root
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}

.mhi-button {
  @include mui-button;
  background-color: $human-blue;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-transform: none;

  &:hover {
    background-color: $human-pink; // TODO: look into why this doesn't work w/out important
  }

  &:disabled {
    background-color: $human-grey;
    color: white;
  }
}

.donate-link {
  height: 60px;

  .buymeacoffee {
    height: 30px;
    margin-bottom: 1px;
    margin-right: 6px;
  }
}