.causes {
  width: 100%;
  position: relative;
  padding: 25px;
  display: grid;
  place-items: center;
}

.cause__image {
  display: grid;
  place-items: center;

  img {
    border-radius: 50%;
    border: 5px solid;
  }
}

@media (max-width: 710px) {
  .causes__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 450px;
  }

  .cause__image, .cause__text-content {
    grid-column: 1;
    grid-row: auto;
  }

  .cause__text-content {
    margin: 15px 0;
    text-align: center;
  }
}

@media (min-width: 710px) {
  .causes__content {
    max-width: 925px;
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
    grid-template-rows: 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
  }
  
  $causesRowCounter: 7;
  @for $i from 1 through $causesRowCounter {
    .cause__image:nth-child(#{$i}) {
      grid-row-start: $i;
      grid-row-end: $i + 2;
      //condition for image on the left - col1
      $causeImageColTracker: ($i - 1)/2;
      @if $causeImageColTracker%2 == 0 {
        grid-column: 1;
        + .cause__text-content {
          grid-row: $i + 1;
          grid-column: 3;
        }
      }
      // condition for image on the right - col3
      @if $causeImageColTracker%2 == 1 {
        grid-column: 3;
        + .cause__text-content {
          grid-row: $i + 1;
          grid-column: 1;
        }
      }
    }
  }

  .cause__text-content {
    display: grid;
    place-items: center;
    padding: 10px;
  }
}

@media (min-width: 710px) and (max-width: 800px) {
  .cause__text-content {
    h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
