.file-upload-button-container {
  min-height: 100%;
  min-width: 30%;

  > button {
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;

    justify-content: flex-start;
    font-size: 16px;
    padding: 11.6916656494140625px 15px; // Makes this the same size as a TextInput

    @include onmobile {
      min-width: 100%;
    }
  }
}
