footer .mhi-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.77777em;
  background-color: #f9f9f9;

  padding-top: 68px;

  @include onmobile {
    padding-top: 40px;
  }

  > .footer-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $human-blue;
    width: 100%;
    margin-top: 5rem;

    > .footer-links__container {
      display: flex;
      justify-content: center;

      > .footer-links {
        height: 3.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include onmobile {
          min-width: 100%;
        }

        > .footer-link {
          svg {
            fill: #e9e9e9;
            :hover {
              fill: white;
            }
          }
          :first-child {
            margin-left: 20px;
          }
        }

        .footer-rings {
          max-width: 276px !important;

          @include onmobile {
            width: 100%;
          }
        }
      }
    }

    > .copyright {
      color: white;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 700px) {
  .footer-banner {
    padding: 0.5rem 1rem;
  }
  .footer-links__container,
  .copyright {
    width: 100%;
  }
}
