footer.mhi-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .77777em;
  padding-left: $nonhero-margin;
  padding-right: $nonhero-margin;
  background-color: #f9f9f9;

  padding-top: 68px;

  @include onmobile {
    padding-top: 40px;
  }

  > .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @include onmobile {
      min-width: 100%;
    }

    > .footer-link {
      margin-left: 20px;
      margin-right: 20px;
    }

    .footer-rings {
      max-width: 276px !important;

      @include onmobile {
        width: 100%;
      }
    }
  }

  > span, p {
    text-align: center;
  }
}

