$header-height: 100px;

:root {
  --logo-color-blue-white: white;
}

@mixin header-width($prop) {
  #{$prop}-left: 100px;
  #{$prop}-right: 100px;

  @media (max-width: 800px) {
    #{$prop}-left: $nonhero-margin;
    #{$prop}-right: $nonhero-margin;
  }
}

header.layout-header {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding-top: $nonhero-margin;
  padding-bottom: $nonhero-margin;

  @include header-width(padding);

  @media (max-width: $breakpoint-header-scrolls) {
    position: absolute;
  }


  // When against a hero, we use the --logo-color-blue-white to fade from white to blue as the user scrolls past the hero
  // Otherwise, against a white background, we just use blue as the non-pink color
  > a.home-link {
    > svg.header-logo {
      .more, .internet, .left-head { fill: $human-pink; }

      &.against-hero {
        .human, .right-head, .bodies { fill: var(--logo-color-blue-white); }
        .bodies { stroke: var(--logo-color-blue-white); }
      }

      &.against-white-bg {
        .human, .right-head, .bodies { fill: $human-blue; }
        .bodies { stroke: $human-blue; }
      }

      &:hover {
        .human { fill: $human-pink; }

        &.against-hero {
          .more, .internet { fill: var(--logo-color-blue-white); }
        }

        &.against-white-bg {
          .more, .internet { fill: $human-blue; }
        }
      }
    }
  }
}
