$header-height: 100px;

:root {
  --logo-color-blue-white: white;
}

@mixin header-width($prop: padding, $amount: 100px) {
  #{$prop}-left: $amount;
  #{$prop}-right: $amount;

  @media (max-width: 800px) {
    #{$prop}-left: $nonhero-margin;
    #{$prop}-right: $nonhero-margin;
  }
}

// animation not working under scss - wip
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

header.layout-header {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding-top: $nonhero-margin;
  padding-bottom: $nonhero-margin;

  @include header-width();

  @media (max-width: $breakpoint-header-scrolls) {
    position: absolute;
  }
}

// When against a hero, we use the --logo-color-blue-white to fade from white to blue as the user scrolls past the hero
// Otherwise, against a white background, we just use blue as the non-pink color
svg.header-logo {
  .human,
  .left-head {
    fill: $human-pink;
  }

  &.against-hero {
    .more,
    .internet,
    .right-head,
    .bodies {
      fill: var(--logo-color-blue-white);
    }
    .more {
      color: red;
    }
    .bodies {
      stroke: var(--logo-color-blue-white);
    }
  }

  &.against-white-bg {
    .more,
    .internet,
    .right-head,
    .bodies {
      fill: $human-blue;
    }
    .bodies {
      stroke: $human-blue;
    }
  }

  &:hover {
    .more,
    .internet {
      fill: $human-pink;
    }

    &.against-hero {
      .human {
        fill: var(--logo-color-blue-white);
      }
    }

    &.against-white-bg {
      .human {
        fill: $human-blue;
      }
    }
  }
}

header.layout-new-header {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding-top: $nonhero-margin + 5px;
  padding-bottom: $nonhero-margin + 10px;
  text-transform: capitalize;

  z-index: 100;

  @include header-width(padding);

  @media (max-width: $breakpoint-header-scrolls) {
    position: absolute;
  }

  > a.logo {
    display: flex;
    justify-content: center;

    @include onmobile {
      width: 100%;
    }
  }

  &.mhi {
    .link__container {
      width: 50px;
    }
  }

  a {
    color: var(--logo-color-blue-white);
    cursor: pointer;
    text-decoration: none;
    transition: border-bottom 0.3s;

    &:not(.home) {
      border-bottom: 2px transparent solid;
      &.active,
      &:hover {
        border-color: $human-pink;
      }
    }
  }

  svg.mhi-with-text-logo {
    .human,
    .global,
    .top-right {
      fill: $human-pink;
    }

    &.against-hero {
      .more,
      .internet,
      .join,
      .community,
      .bottom-left {
        fill: var(--logo-color-blue-white);
      }
      .more,
      .internet,
      .human,
      .top-right,
      .bottom-left {
        @include keyframes(fade) {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 0;
          }
        }
        @include animate(fade, 1s, linear, 5);
      }
    }

    &.against-white-bg {
      .more,
      .internet,
      .bottom-left {
        fill: $human-blue;
      }
    }

    &:hover {
      .more,
      .internet,
      .bottom-left {
        fill: $human-pink;
      }

      &.against-hero {
        .human,
        .top-right {
          fill: var(--logo-color-blue-white);
        }
      }

      &.against-white-bg {
        .human,
        .top-right {
          fill: $human-blue;
        }
      }
    }
  }
}

header.roar {
  height: auto;
  background-color: white;

  padding: 0 25px;

  svg.roar-logo {
    height: 60px;
    transition: all 0.3s;
    margin: 25px 0;
  }

  a.roar-home {
    display: flex;
  }

  a.internal-link {
    @include button-fonts;
    color: $human-pink;
    cursor: pointer;

    @media (max-width: 800px) {
      display: none;
    }
  }

  .other-links {
    display: flex;
    align-items: center;
    :not(:first-child) {
      margin-left: 24px;
    }
  }

  &.shrink {
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
    box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);

    a.roar-home {
      svg.roar-logo {
        height: 40px;
        margin: 15px 0;
      }
    }
  }

  @media (max-width: 500px) {
    padding: 0 10px;
    svg.roar-logo {
      height: 50px;
      transition: all 0.3s;
      margin: 10px 0;
    }
  }
}
