.MuiSvgIcon-root.person,
.MuiAvatar-root.MuiAvatar-circle {
  width: 35px;
  height: 35px;
}

.MuiSvgIcon-root.email {
  margin-top: 1px;
  margin-left: 3px;
  height: 29px;
  width: 29px;
}

.MuiSvgIcon-root.employer {
  margin-top: 1px;
  margin-left: 3px;
  height: 29px;
  width: 29px;
}

.MuiSvgIcon-root.close {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
  height: 29px;
  width: 29px;
}