section.join {
    display: grid;
    place-items: center;
    width: 100%;
    text-align: center;

    .join__contents {
        width: 600px;
    }

    .mhi-heading {
        font-weight: bold;
    }
}