$sidebar-width: 100px;
$sidebar-margin: 50px;


.layout.has-sidebar {
  > .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    background-color: $human-blue;
    min-height: 100vh;
    border-top-right-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    > a.homelink {
      margin-top: $sidebar-margin;
    }
  }

  > main {
    position: relative;
    left: $sidebar-width;
  }
}

