$sidebar-margin: 50px;

@mixin sidebar-width($size) {
  width: $size;

  + main {
    left: $size;
    max-width: calc(100vw - #{$size});
  }
}

.layout.has-sidebar {
  > .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $human-blue;
    min-height: 100vh;
    border-top-right-radius: 40px;
    transition: width 0.3s;

    > .sidebar-contents {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100px;
      padding: $sidebar-margin 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      > a {
        flex-grow: 0;
      }

      a {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;

        > .description {
          opacity: 0;
          transition: all 0.3s;

          text-decoration: none;
          position: absolute;
          top: -2px;
          left: 42px;
          color: white;
          font-weight: bold;
          font-size: (16/18) * 1em;
        }
      }

      > .other-links {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 70px;

        > a {
          margin-top: $sidebar-margin;

          &.inactive {
            > svg > path {
              opacity: 0.26;
            }
          }

          &.active {
            > svg > path {
              opacity: 1;
            }
          }
        }
      }
    }

    + main {
      position: relative;
      transition: all 0.3s;
      padding: 50px;
    }

    @include sidebar-width(100px);

    &:hover {
      @include sidebar-width(200px);
      a {
        &.inactive {
          > .description {
            opacity: 0.26;
          }
        }

        &.active {
          > .description {
            opacity: 1;
          }
        }
      }
    }
  }
}
