$sidebar-margin: 50px;

@mixin sidebar-width($size) {
  width: $size;

  + main {
    left: $size;
    max-width: calc(100vw - #{$size});
  }
}

.layout.has-sidebar {
  > .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $human-blue;
    min-height: 100vh;
    border-top-right-radius: 40px;
    transition: width 0.2s;

    > .sidebar-contents {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100px;
      padding: $sidebar-margin 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      > .sidebar-links {
        display: grid;
        grid-template-rows: 100px 70px 70px 1fr auto;
        height: 100%;

        > a {
          position: relative;
          display: flex;
          justify-content: center;

          > .description {
            opacity: 0;
            transition: all 0.3s;

            text-decoration: none;
            position: absolute;
            top: -2px;
            left: 90px;
            color: white;
            font-weight: bold;
            font-size: (16/18) * 1em;
          }

          &.home-link {
            position: relative;
            left: 38px;

            > svg > g.text {
              transition: opacity 0.3s;
              opacity: 0;
            }
          }

          &.inactive {
            > svg > path {
              opacity: 0.26;
            }
          }

          &.active {
            > svg > path {
              opacity: 1;
            }
          }

          &.settings {
            > .description {
              top: 2px;
              font-weight: normal;
            }
          }
        }
      }
    }

    + main {
      position: relative;
      transition: all 0.3s;
      padding: 50px;
    }

    @include sidebar-width(100px);

    &:hover {
      @include sidebar-width(200px);

      > .sidebar-contents > .sidebar-links > a {
        > svg > g.text {
          opacity: 1;
        }

        &.inactive {
          > .description {
            opacity: 0.26;
          }
        }

        &.active,
        &.settings {
          > .description {
            opacity: 1;
          }
        }

        &:hover {
          > .description {
            opacity: 1;
          }

          > svg > path {
            opacity: 1;
          }
        }
      }
    }
  }
}
