$more-human-internet-widget-editor-button-height: 60px;
$more-human-internet-widget-open-padding: 50px;
$caret-size: 10px;
$trix-button--icon-size: 1.6em;

@mixin no-outline-no-border {
  outline: none !important;
  border: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin semicircular-border($direction) {
  content: '';
  position: absolute;
  display: block;
  #{$direction}: -($trix-button--icon-size / 2);
  width: $trix-button--icon-size;
  height: $trix-button--icon-size;
  border: 1px solid $human-grey;
  border-#{opposite-direction($direction)}: none;
  border-top-#{$direction}-radius: 100%;
  border-bottom-#{$direction}-radius: 100%;
  background-color: white;
  z-index: -1;
}

// Add padding for an element for the tour without affecting its positioning
@mixin padding-for-tour($size: 10px) {
  padding: $size;
  margin: -$size;
}

.more-human-internet-widget-boundary {
  @include padding-for-tour(4px);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 101;

  > .more-human-internet-widget-container {
    border-top-left-radius: 30px;
    background-color: white;
    box-shadow: -4px -4px 26px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;

    &.more-human-internet-widget-container-open {
      padding: $more-human-internet-widget-open-padding;
      height: 100vh;

      @media (min-width: 601px) {
        width: 500px;
      }
      @media (max-width: 600px) {
        border-top-left-radius: 0;
        width: 100vw;
      }

      > .more-human-internet-widget-editor-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }

    &.more-human-internet-widget-container-closed {
      padding: 15px;
      height: 60px;
      width: 60px;
      cursor: pointer;

      > .more-human-internet-widget-editor-container {
        display: none;
      }
    }

    > .more-human-internet-widget-editor-container {
      margin-bottom: 0;

      > .more-human-internet-widget-editor {
        flex-grow: 1;
        margin-top: 40px;

        > .submitting {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          color: $human-blue;
        }

        > .more-human-internet-widget-editor-issue-title-input {
          @include padding-for-tour;

          > trix-toolbar {
            display: none;
          }

          > trix-editor {
            border: 0;
            padding: 0;
            font-size: 24px;
            color: $human-blue;
          }
        }

        > .more-human-internet-similar-issues {
          @include padding-for-tour;

          > p {
            font-weight: 300;
            font-size: 1em;
            color: $human-grey;
          }

          > .more-human-internet-similar-issue-links {
            display: flex;
            flex-direction: column;

            > .more-human-internet-similar-issue-link {
              width: 100%;
              border: 1px solid #dfdfdf;
              box-sizing: border-box;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 10px;
              padding: (14em / 18);
              text-decoration: none;
              color: $human-blue;
              margin-bottom: 16px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        > .more-human-internet-widget-editor-issue-body-input {
          @include padding-for-tour;

          position: relative;
          width: 100%;

          &.simple-feedback {
            font-size: 24px;
            color: $human-blue;
            resize: none;
            height: 100%;

            @include no-outline-no-border;
          }

          /* Change the select background color */
          ::selection {
            background: $human-pink;
          }

          /* Change the select background color for Firefox */
          ::-moz-selection {
            background: $human-pink;
          }

          > trix-toolbar {
            position: fixed;
            display: none;

            > .trix-button-row {
              overflow-x: hidden; // We manipulate the buttons so that technically they are scrollable, so we block that here

              &:before {
                @include semicircular-border(left);
              }

              &:after {
                @include semicircular-border(right);
              }

              > .trix-button-group {
                margin-bottom: 0;
                border: none;
                display: none;

                > .trix-button {
                  display: none;
                  background-color: white;
                  color: $human-blue;
                }

                &:first-child {
                  display: block;
                  position: relative;

                  > .trix-button {
                    &.trix-button--icon {
                      width: $trix-button--icon-size;
                      height: $trix-button--icon-size;
                    }
                    &.trix-button--icon-bold,
                    &.trix-button--icon-italic,
                    &.trix-button--icon-link {
                      position: relative;
                      display: block;
                      border-top: 1px solid $human-grey;
                      border-bottom: 1px solid $human-grey;
                      border-left: none;
                      border-right: none;
                    }
                    &.trix-button--icon-bold {
                      margin-left: -0.1em;
                    }
                    &.trix-button--icon-link {
                      margin-right: -0.1em;
                    }
                    &.trix-button--icon-bold::before {
                      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22bold-icon%22%3E%0A%3Crect%20id%3D%22Rectangle%2097%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20id%3D%22TEXT%22%20d%3D%22M8.95752%2010.4643V7.30675H11.7267C11.9904%207.30675%2012.2416%207.33196%2012.4802%207.38238C12.7314%207.42019%2012.9511%207.49582%2013.1395%207.60927C13.3279%207.72272%2013.4786%207.88028%2013.5916%208.08197C13.7046%208.28365%2013.7611%208.54205%2013.7611%208.85718C13.7611%209.42442%2013.5916%209.83409%2013.2525%2010.0862C12.9134%2010.3383%2012.4802%2010.4643%2011.9527%2010.4643H8.95752ZM6%205V18.5001H12.5179C13.1207%2018.5001%2013.7046%2018.4245%2014.2698%2018.2733C14.8475%2018.122%2015.3561%2017.8888%2015.7956%2017.5737C16.2477%2017.2585%2016.6056%2016.8552%2016.8694%2016.3636C17.1331%2015.8594%2017.265%2015.2669%2017.265%2014.5862C17.265%2013.7417%2017.0578%2013.0232%2016.6433%2012.4308C16.2414%2011.8257%2015.6261%2011.4034%2014.7972%2011.1639C15.4%2010.874%2015.8521%2010.5022%2016.1535%2010.0484C16.4675%209.59459%2016.6245%209.02735%2016.6245%208.34667C16.6245%207.71642%2016.5177%207.187%2016.3042%206.75842C16.1033%206.32985%2015.8145%205.98951%2015.4377%205.7374C15.061%205.47269%2014.6088%205.28362%2014.0814%205.17017C13.5539%205.05672%2012.97%205%2012.3295%205H6ZM8.95752%2016.1934V12.4875H12.1788C12.8193%2012.4875%2013.3342%2012.6387%2013.7235%2012.9413C14.1128%2013.2312%2014.3074%2013.7228%2014.3074%2014.4161C14.3074%2014.769%2014.2446%2015.0589%2014.1191%2015.2858C14.006%2015.5127%2013.8491%2015.6955%2013.6481%2015.8341C13.4472%2015.9602%2013.2149%2016.0547%2012.9511%2016.1178C12.6874%2016.1682%2012.4111%2016.1934%2012.1223%2016.1934H8.95752Z%22%20fill%3D%22%23164176%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
                    }
                    &.trix-button--icon-bold::after {
                      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22bold-icon%22%3E%0A%3Crect%20id%3D%22Rectangle%2097%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20id%3D%22TEXT%22%20d%3D%22M8.95752%2010.4643V7.30675H11.7267C11.9904%207.30675%2012.2416%207.33196%2012.4802%207.38238C12.7314%207.42019%2012.9511%207.49582%2013.1395%207.60927C13.3279%207.72272%2013.4786%207.88028%2013.5916%208.08197C13.7046%208.28365%2013.7611%208.54205%2013.7611%208.85718C13.7611%209.42442%2013.5916%209.83409%2013.2525%2010.0862C12.9134%2010.3383%2012.4802%2010.4643%2011.9527%2010.4643H8.95752ZM6%205V18.5001H12.5179C13.1207%2018.5001%2013.7046%2018.4245%2014.2698%2018.2733C14.8475%2018.122%2015.3561%2017.8888%2015.7956%2017.5737C16.2477%2017.2585%2016.6056%2016.8552%2016.8694%2016.3636C17.1331%2015.8594%2017.265%2015.2669%2017.265%2014.5862C17.265%2013.7417%2017.0578%2013.0232%2016.6433%2012.4308C16.2414%2011.8257%2015.6261%2011.4034%2014.7972%2011.1639C15.4%2010.874%2015.8521%2010.5022%2016.1535%2010.0484C16.4675%209.59459%2016.6245%209.02735%2016.6245%208.34667C16.6245%207.71642%2016.5177%207.187%2016.3042%206.75842C16.1033%206.32985%2015.8145%205.98951%2015.4377%205.7374C15.061%205.47269%2014.6088%205.28362%2014.0814%205.17017C13.5539%205.05672%2012.97%205%2012.3295%205H6ZM8.95752%2016.1934V12.4875H12.1788C12.8193%2012.4875%2013.3342%2012.6387%2013.7235%2012.9413C14.1128%2013.2312%2014.3074%2013.7228%2014.3074%2014.4161C14.3074%2014.769%2014.2446%2015.0589%2014.1191%2015.2858C14.006%2015.5127%2013.8491%2015.6955%2013.6481%2015.8341C13.4472%2015.9602%2013.2149%2016.0547%2012.9511%2016.1178C12.6874%2016.1682%2012.4111%2016.1934%2012.1223%2016.1934H8.95752Z%22%20fill%3D%22%23164176%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
                    }
                    &.trix-button--icon-italic::before {
                      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22italic-icon%22%3E%0A%3Crect%20id%3D%22Rectangle%2097%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20id%3D%22TEXT%22%20d%3D%22M14.0485%207.21221L14.5383%205H11.8445L11.3547%207.21221H14.0485ZM11.0533%208.72483L9%2018.5001H11.675L13.7471%208.72483H11.0533Z%22%20fill%3D%22%23164176%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
                    }
                    &.trix-button--icon-italic::after {
                      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22italic-icon%22%3E%0A%3Crect%20id%3D%22Rectangle%2097%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20id%3D%22TEXT%22%20d%3D%22M14.0485%207.21221L14.5383%205H11.8445L11.3547%207.21221H14.0485ZM11.0533%208.72483L9%2018.5001H11.675L13.7471%208.72483H11.0533Z%22%20fill%3D%22%23164176%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
                    }
                    &.trix-button--icon-link::before {
                      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22link-icon%22%3E%0A%3Crect%20id%3D%22Rectangle%2097%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20id%3D%22link%22%20d%3D%22M11.154%2015.8529C11.36%2015.6544%2011.4916%2015.4173%2011.5488%2015.1415C11.6117%2014.8658%2011.5946%2014.6011%2011.4973%2014.3474L12.5187%2013.3713C12.8105%2013.8125%2012.9564%2014.3006%2012.9564%2014.8355C12.9564%2015.591%2012.6789%2016.2417%2012.1239%2016.7877L11.1712%2017.6976C10.6047%2018.2325%209.92949%2018.5%209.14557%2018.5C8.36166%2018.5%207.68361%2018.2298%207.11141%2017.6893L5.84113%2016.4651C5.28038%2015.9301%205%2015.2822%205%2014.5211C5%2013.7546%205.28038%2013.1011%205.84113%2012.5607L6.78526%2011.6507C7.35173%2011.1158%208.02693%2010.8483%208.81084%2010.8483C9.37159%2010.8483%209.88371%2010.9917%2010.3472%2011.2785L9.3344%2012.2546C9.15702%2012.1939%208.9825%2012.1636%208.81084%2012.1636C8.39313%2012.1636%208.03837%2012.3042%207.74655%2012.5855L6.80242%2013.4954C6.5106%2013.7767%206.36469%2014.1186%206.36469%2014.5211C6.36469%2014.9182%206.5106%2015.2574%206.80242%2015.5386L8.08129%2016.7629C8.37311%2017.0441%208.72787%2017.1847%209.14557%2017.1847C9.56328%2017.1847%209.91804%2017.0441%2010.2099%2016.7629L11.154%2015.8529ZM18.1663%207.03493C18.727%207.56985%2019.0074%208.22059%2019.0074%208.98713C19.0074%209.74816%2018.727%2010.3989%2018.1663%2010.9393L17.2307%2011.841C16.67%2012.3814%2015.9948%2012.6517%2015.2052%2012.6517C14.6501%2012.6517%2014.1437%2012.511%2013.686%2012.2298L14.6988%2011.2537C14.8819%2011.3088%2015.0507%2011.3364%2015.2052%2011.3364C15.6171%2011.3364%2015.969%2011.1958%2016.2609%2010.9145L17.205%2010.0046C17.4968%209.72335%2017.6427%209.38419%2017.6427%208.98713C17.6427%208.58456%2017.4968%208.24265%2017.205%207.9614L15.9347%206.73713C15.6429%206.45588%2015.2881%206.31526%2014.8704%206.31526C14.447%206.31526%2014.0951%206.45588%2013.8147%206.73713L12.8706%207.64706C12.5788%207.91728%2012.4329%208.25643%2012.4329%208.66452C12.4329%208.82996%2012.4643%208.9954%2012.5273%209.16085L11.5145%2010.1369C11.2169%209.69577%2011.0682%209.20496%2011.0682%208.66452C11.0682%207.90901%2011.3457%207.25827%2011.9007%206.71232L12.8448%205.80239C13.4113%205.26746%2014.0865%205%2014.8704%205C15.6543%205%2016.3295%205.26746%2016.896%205.80239L18.1663%207.03493ZM10.0725%2014.546L14.8275%209.96324L13.8576%209.02849L9.10266%2013.6112L10.0725%2014.546Z%22%20fill%3D%22%23164176%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
                    }
                    &.trix-button--icon-link::after {
                      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22link-icon%22%3E%0A%3Crect%20id%3D%22Rectangle%2097%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20id%3D%22link%22%20d%3D%22M11.154%2015.8529C11.36%2015.6544%2011.4916%2015.4173%2011.5488%2015.1415C11.6117%2014.8658%2011.5946%2014.6011%2011.4973%2014.3474L12.5187%2013.3713C12.8105%2013.8125%2012.9564%2014.3006%2012.9564%2014.8355C12.9564%2015.591%2012.6789%2016.2417%2012.1239%2016.7877L11.1712%2017.6976C10.6047%2018.2325%209.92949%2018.5%209.14557%2018.5C8.36166%2018.5%207.68361%2018.2298%207.11141%2017.6893L5.84113%2016.4651C5.28038%2015.9301%205%2015.2822%205%2014.5211C5%2013.7546%205.28038%2013.1011%205.84113%2012.5607L6.78526%2011.6507C7.35173%2011.1158%208.02693%2010.8483%208.81084%2010.8483C9.37159%2010.8483%209.88371%2010.9917%2010.3472%2011.2785L9.3344%2012.2546C9.15702%2012.1939%208.9825%2012.1636%208.81084%2012.1636C8.39313%2012.1636%208.03837%2012.3042%207.74655%2012.5855L6.80242%2013.4954C6.5106%2013.7767%206.36469%2014.1186%206.36469%2014.5211C6.36469%2014.9182%206.5106%2015.2574%206.80242%2015.5386L8.08129%2016.7629C8.37311%2017.0441%208.72787%2017.1847%209.14557%2017.1847C9.56328%2017.1847%209.91804%2017.0441%2010.2099%2016.7629L11.154%2015.8529ZM18.1663%207.03493C18.727%207.56985%2019.0074%208.22059%2019.0074%208.98713C19.0074%209.74816%2018.727%2010.3989%2018.1663%2010.9393L17.2307%2011.841C16.67%2012.3814%2015.9948%2012.6517%2015.2052%2012.6517C14.6501%2012.6517%2014.1437%2012.511%2013.686%2012.2298L14.6988%2011.2537C14.8819%2011.3088%2015.0507%2011.3364%2015.2052%2011.3364C15.6171%2011.3364%2015.969%2011.1958%2016.2609%2010.9145L17.205%2010.0046C17.4968%209.72335%2017.6427%209.38419%2017.6427%208.98713C17.6427%208.58456%2017.4968%208.24265%2017.205%207.9614L15.9347%206.73713C15.6429%206.45588%2015.2881%206.31526%2014.8704%206.31526C14.447%206.31526%2014.0951%206.45588%2013.8147%206.73713L12.8706%207.64706C12.5788%207.91728%2012.4329%208.25643%2012.4329%208.66452C12.4329%208.82996%2012.4643%208.9954%2012.5273%209.16085L11.5145%2010.1369C11.2169%209.69577%2011.0682%209.20496%2011.0682%208.66452C11.0682%207.90901%2011.3457%207.25827%2011.9007%206.71232L12.8448%205.80239C13.4113%205.26746%2014.0865%205%2014.8704%205C15.6543%205%2016.3295%205.26746%2016.896%205.80239L18.1663%207.03493ZM10.0725%2014.546L14.8275%209.96324L13.8576%209.02849L9.10266%2013.6112L10.0725%2014.546Z%22%20fill%3D%22%23164176%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
                    }
                  }
                }
              }
            }
          }

          /* Tooltip caret */
          $caret-radius: 5px;
          $caret-border-width: 1px;
          > trix-toolbar:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -$caret-radius + ($caret-border-width / 2);
            left: calc(50% - #{$caret-radius});
            width: 2 * $caret-radius;
            height: 2 * $caret-radius;
            background: #ffffff;
            border-left: $caret-border-width solid $human-grey;
            border-bottom: $caret-border-width solid $human-grey;
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }

          > trix-editor {
            border: 0;
            padding: 0;
            font-size: 16px;
            color: $human-blue;
          }
        }

        > label[for="email"] {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          font-weight: bold;
          color: $human-blue;
          border-bottom: 1px solid $human-grey;

          > input {
            margin-top: 10px;
            font-size: 26px;
            font-weight: 300;
            color: $human-blue;

            @include no-outline-no-border;
          }
        }
      }

      .more-human-internet-widget-editor-button-group {
        display: flex;
        width: 100%;

        > button {
          height: $more-human-internet-widget-editor-button-height;

          &.attach {
            background-color: $human-pink;
            width: $more-human-internet-widget-editor-button-height;
            margin-right: 20px;

            &:hover {
              box-shadow: 0px 4px 26px rgba(250, 117, 158, 0.5);
            }
          }

          &.post {
            width: 100%;
            font-weight: 700;

            &:hover {
              background-color: $human-blue !important;
              box-shadow: 0px 4px 26px rgba(22, 65, 118, 0.5);
            }
          }
        }
      }
    }
  }
}
