$human-blue: #164176;
$human-light-blue: #4a81bc;
$human-pink: #fa759e;
$human-pink-faded: rgba(250, 117, 158, 0.2);
$human-green: #6fcf97;
$human-grey: #8aa0bc;
$human-gold: #ffca00;
$border-grey: #dfdfdf;
$default-background-color: white;

.white {
  color: white !important;
}

.human-blue {
  color: $human-blue !important;
}

.human-pink {
  color: $human-pink !important;
}

.white-bg {
  background-color: white !important;
}

.human-blue-bg {
  background-color: $human-blue !important;
}

.human-pink-bg {
  background-color: $human-pink !important;
}

.human-green-bg {
  background-color: $human-green !important;
}

.human-gold-bg {
  background-color: $human-gold !important;
}
