// @import './shared/buttons.scss';
// @import './shared/mixins.scss';

@mixin full_bleed_grid($pad: 50px, $min_center_column_width: 65ch) {
  display: grid;
  grid-template-columns:
    minmax($pad, 1fr)
    $min_center_column_width // min(#{$min_center_column_width}, calc(100% - #{2 * $pad}))
    minmax($pad, 1fr);
}

// header {
//   position: absolute;
//   top: 0;
//   padding-top: 10px;
//   padding-left: 10px;
// }

// main {
//   @include full_bleed_grid;
// }

// section {
//   grid-column: 2;
//   display: flex;
//   flex-direction: column;
// }

section.full-width {
  grid-column: 1/4;
}

/* footer styles  */
// footer {
//   font-size: 0.8em;
//   padding-top: 2.5rem;
// }

.mhi-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $human-blue;
}

.mhi-logo > h4 > svg {
  height: 17px;
  position: relative;
  padding: 1px;
  top: 5px;
}

.top-right {
  fill: $human-blue;
}

// .more {
//   fill: $human-blue;
// }

// .internet {
//   fill: $human-blue;
// }

.bottom-left {
  fill: $human-pink;
}
// .human {
//   fill: $human-pink;
// }

.footer-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $human-blue;
  width: 100%;
  margin-top: 5rem;
  padding: 0 1rem;
}

.footer-links__container {
  display: flex;
  justify-content: center;
}

// .footer-links {
//   height: 3.5rem;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .footer-link:not(:first-child) {
//   margin-left: 20px;
// }

// .footer-link > svg {
//   fill: #e9e9e9;
// }

// .footer-link:hover > svg {
//   fill: white;
// }

.copyright {
  color: white;
  text-align: center;
}

@media (max-width: 700px) {
  .footer-banner {
    padding: 0.5rem 1rem;
  }
  .footer-links__container,
  .copyright {
    width: 100%;
  }
}
