.circle {
  border-radius: 50%;
}

.square {
  border-radius: 0%;
}

.pink_dot__wrapper {
  position: relative;
  width: 100vw;
  height: 50vh;
  margin-bottom: -25vh;

  .pink_dot {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    padding: 5vh;
    right: 15vw;
    background-color: $human-pink;
    text-align: center;
    top: -25%;
    
    .pink_dot__text {
      color: white; 
    }
  }
  
}
@media (max-width: 710px) {
  .pink_dot__wrapper {
    margin-bottom: -5vh;

    .pink_dot {
      left: 50%;
      transform: translate(-50%);
      top: -5%;
    }
  }
}


