$standard-max-width: 600px;
$standard-margin: 25px;

$breakpoint-mobile: 600px;
$breakpoint-header-scrolls: 1300px;

$nonhero-margin: 25px;
$max-main-page-item-width: 603px;

@mixin onmobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }

  @media (max-height: 400px) {
    @content;
  }
}

@mixin ondesktop {
  @media (min-width: ($breakpoint-mobile + 1px)) {
    @content;
  }
}

@include ondesktop {
  section {
    padding: #{2 * $standard-margin} $standard-margin;
  }
}

@include onmobile {
  section {
    padding: $standard-margin;
  }
}

@include onmobile {

  html,
  body {
    font-size: 14px;
  }
}