// Add padding for an element for the tour without affecting its positioning
@mixin padding-for-tour($size: 10px) {
  padding: $size;
  margin: -$size;
}

.shepherd-content {
  > header.shepherd-header {
    padding: 0.25rem 0.75rem 0;
  }

  > .shepherd-text {
    color: $human-blue;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 24px;
  }

  > footer.shepherd-footer {
    padding: 0;

    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;

    > button {
      color: white;
      border-radius: 0;
      margin: 0;
      font-family: 'Helvetica Neue';
      font-weight: bold;
      font-size: (16/18) * 1em;

      &:first-child {
        border-bottom-left-radius: 5px;
      }

      &:nth-child(2) {
        border-bottom-right-radius: 5px;
      }
    }

    > .single-button {
      grid-column: 1 / span 2;
      font-size: 18px;
      border-radius: 5px;
      padding: 20px;

      > span {
        display: flex;
        justify-content: center;
        align-items: center;
        > svg {
          margin-right: 8px;
        }
      }
    }
  }
}

.shepherd-element {
  > .shepherd-arrow {
    border-width: 0;
    height: auto;
    width: auto;

    &:before {
      content: none;
    }
    &:after {
      content: url('/arrow.svg');
      display: inline-block;
      border-width: 0;
      border-style: solid;
      border-color: currentColor;
    }
  }
}

.shepherd-element[data-popper-placement^="bottom"] {
  margin-top: 16px !important;

  > .shepherd-arrow {
    top: -35px !important;
    &:after {
      transform: rotate(90deg);
    }
  }
}

.shepherd-element[data-popper-placement^="top"] {
  margin-bottom: 16px !important;

  > .shepherd-arrow {
    bottom: -35px !important;
    &:after {
      transform: rotate(270deg);
    }
  }
}

.shepherd-element[data-popper-placement^="left"] {
  margin-right: 24px !important;

  > .shepherd-arrow {
    right: -35px !important;
    &:after {
      transform: rotate(180deg);
    }
  }
}

.shepherd-element[data-popper-placement^="right"] {
  margin-left: 24px !important;

  > .shepherd-arrow {
    left: -35px !important;
    &:after {
      transform: rotate(0deg);
    }
  }
}

.shepherd-element.shepherd-enabled[data-shepherd-step-id="click-issues"] {
  margin-top: 25px !important;
}