.bold {
  font-weight: bold !important;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.hide {
  display: none !important;
}

.center-text {
  text-align: center !important;
}

.hide-on-mobile {
  @include onmobile {
    display: none
  }
}
