{
  "arrowParens": "avoid",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss"],
      "options": {
          "singleQuote": false
      }
    }
  ],
  "semi": false,
  "printWidth": 160
}
