.demo-page {
  background-color: #f7f7f7;
  color: #000000;
  height: 100vh;
  font-family: 'Roboto';

  display: flex;

  > header {
    display: flex;
    justify-content: space-between;

    > .links {
      margin-top: 14px;
      display: flex;
      align-items: center;

      > a {
        font-size: 14px;
        line-height: 16px;
        margin: 18px;

        @media (max-width: 540px) {
          display: none;
        }
      }
    }

    .cart-count {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-left: 4px;
      background: #000000;
      display: flex;
      align-items: center;
      justify-content: center;

      &.text {
        color: #fff;
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .cart-icon {
    display: flex;
    justify-content: center;
  }

  button.add-to-cart {
    background-color: #fade60;
    border: none;
    color: hsl(0, 0%, 0%);
    width: 144px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    &:enabled {
      cursor: pointer;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: #000;
      color: #fff;
      outline: none;
    }
  }

  button.checkout {
    margin-bottom: 18px;
    background: #fade60;
    border: none;
    color: hsl(0, 0%, 0%);
    width: 298px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:enabled {
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        background-color: #000;
        color: #fff;
        outline: none;
      }
    }
    &:disabled {
      background: #bababa;
    }
    > .spinner {
      position: absolute;
      left: 16px;
    }
  }

  > .demo-content-container {
    display: flex;
    justify-content: center;
    width: 100%;

    > .demo-content {
      padding: 100px;
      padding-top: 200px;

      &.add-to-cart {
        display: flex;

        > .text {
          width: 275px;

          > h1 {
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
            text-align: left;
            color: #000000;
          }

          > img.suit-intext {
            display: none;
          }

          > .reviews {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            > span {
              margin-right: 10px;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
            }
          }

          > p {
            font-size: 16px;
            line-height: 19px;
          }

          > .price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > h2 {
              font-weight: normal;
              font-size: 36px;
              margin-bottom: 0px;
            }
          }

          > .guarantee {
            width: 40%;
            font-size: 14px;
            line-height: 16px;
          }
        }

        > .img-container > img.suit-side {
          max-height: 50vh;
        }

        @media (max-width: 630px) {
          flex-direction: column;
          align-items: center;
          padding-top: 100px;

          > .text {
            > img.suit-intext {
              display: block;
              max-width: 100%;
              margin-bottom: 40px;
            }
          }
          > .img-container > img.suit-side {
            display: none;
          }
        }
      }

      &.checkout {
        > h1 {
          font-weight: 300;
          font-size: 36px;
          line-height: 42px;
          text-align: left;
          color: #000000;
        }

        > .checkout-grid {
          display: grid;
          grid-column-gap: 1rem;
          grid-row-gap: 1rem;
          grid-template-columns: minmax(310px, 600px) 300px;

          @media (max-width: 630px) {
            grid-template-columns: 310px;

            > .free-delivery {
              display: none;
            }
          }

          > .checkout-card {
            display: flex;
            background: #fff;

            h3 {
              font-size: 36px;
              line-height: 42px;
              font-weight: normal;
            }

            > .text {
              display: flex;
              flex-direction: column;
              justify-content: center;


              font-size: 16px;
              line-height: 19px;
              > p {
                margin-bottom: 0;
              }
            }

            &.description {
              padding: 10px;
              > .text {
                padding-left: 25px;
              }
            }

            &.total {
              display: flex;
              flex-direction: column;
              padding: 25px;

              > .text {
                > .line-item {
                  display: flex;
                  justify-content: space-between;

                  margin-bottom: 6px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }

          > .free-delivery {
            > p {
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              padding: 15px;
            }
          }

          .creditcards {
            width: 220px;
            height: 21px;
            background: url('/creditcards.png');
          }
        }
      }
    }
  }
}
