$max-signature-width: 300px;

.layout.index {
  > main {
    margin-bottom: 50px;

    > .hero.index {
      @include ondesktop {
        min-height: 768px;
      }

      @include onmobile {
        padding-top: 190px;
      }
    }

    > .posthero {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;

      > .manifesto {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include onmobile {
          margin-top: 0;

          > h1.manifesto-item {
            font-size: 1.8em;
          }
        }

        > h1.manifesto-item {
          margin-top: 50px;
        }

        > .manifesto-item.form {
          margin-top: 25px;
        }

        > .manifesto-item {
          width: 100%;
          max-width: $max-main-page-item-width + (2 * $nonhero-margin);
          padding-left: $nonhero-margin !important;
          padding-right: $nonhero-margin !important;

          &.manifesto-contents {
            > p.lets-create {
              text-align: auto;
              text-justify: auto;
            }
          }

          &.manifesto-signature {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img.signature {
              margin-left: -13px;
            }

            @include ondesktop {
              width: 100%;

              .signature-texts {
                width: $max-signature-width;
              }
            }

            @include onmobile {
              .signature-texts {
                max-width: $max-signature-width;
              }
            }

            .spacer {
              flex-grow: 1;
              width: 100%;
            }

            p {
              margin-top: 8px;
            }

            .avatar {
              border-radius: 50%;
              margin-bottom: 28px;
            }
          }
        }
      }
    }
  }
}
