.issue-status-badge {
  border-radius: 26px;
  padding: 5px 17px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #ffffff;
  &.opened {
    background-color: $human-pink;
  }
  &.acknowledged {
    background-color: $human-green;
  }
  &.closed {
    background-color: $human-blue;
  }
}

.layout.issue {
  > main {
    color: $human-blue;
    margin: 0 150px;

    .issue-overview {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid $human-grey;

      > .issue-metadata {
        > .issue-breadcrumbs {
          // TODO: styles here
        }

        > .issue-title-row {
          margin-top: 25px;
          display: flex;
          flex-direction: row;
          align-items: center;

          > .issue-status-badge {
            margin-right: 10px;
          }

          > h2 {
            font-size: 26em / 18;
            font-weight: 300;
            margin-bottom: 0;
          }

          > .issue-action-buttons {
            display: grid;
            grid-auto-flow: column;

            position: absolute;
            right: 0px;

            > .issue-action-buttons__item {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              margin-left: 1rem;
            }

            > .issue-action-buttons__item button {
              background: none;
              color: inherit;
              border: none;
              padding: 0;
              font: inherit;
              cursor: pointer;
              outline: inherit;
            }
          }
        }
      }
    }

    .issue-timeline {
      margin: 25px 50px;

      > .issue-activity,
      .issue-add-comment {
        position: relative;
        display: flex;
        padding-bottom: 26px;

        > .MuiAvatar-root.MuiAvatar-circle {
          position: absolute;
          top: 0;
          left: -46px;
          margin-top: 10px;
          margin-right: 10px;
        }
      }

      > .issue-add-comment {
        flex-direction: column;

        > .issue-add-comment-editor {
          align-self: stretch;
        }

        > button[type='submit'] {
          margin-top: 10px;
          font-size: 1em;
          align-self: flex-end;
        }
      }

      > .issue-activity {
        flex-direction: row;
        align-items: center;

        :before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 20px;
          display: block;
          width: 2px;
          content: '';
          background-color: #e1e4e8;
          z-index: -1;
        }

        &.change-status {
          .issue-status-badge {
            margin-left: -2px;
            margin-right: 12px;
            flex-grow: 0;
          }

          .timestamp-text {
            flex-grow: 1;
          }
        }

        &.comment {
          > .comment-bubble {
            flex-grow: 1;

            > .comment-by,
            > .comment-body {
              padding: 20px;
              border: 1px solid $human-grey;
              background-color: $default-background-color;
            }

            > .comment-by {
              padding-top: 10px;
              padding-bottom: 10px;
              background-color: #f7fbfc;
              border-top-left-radius: 22px;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
