$mountain-size: 48vh;

.layout.new-landing-page {
  > main {
    position: absolute;

    > .sky {
      position: relative;
      background-image: linear-gradient(to bottom, $human-blue, $human-pink);
      min-height: 788px;
      height: 120vh;
      width: 100vw;

      > .new-hero {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;

        > .new-hero-contents {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          color: white;
          text-align: center;

          > .mhi-button {
            font-weight: bold;
            padding: 1em 3em;
          }
        }
      }

      > .stars {
        position: relative;
        left: 4.027777778;
        top: 19.416243655%;
        width: 94.236111111%;
      }
    }

    > .post-sky1 {
      position: relative;
      top: -3px; // ugh
      min-height: 1630px;
      width: 100vw;
      background-image: linear-gradient(to bottom, $human-blue, rgba(139, 160, 187, 1.0));

      $astronaut-width: 44.166666667%;

      > .about {
        color: white;
        margin-left: $astronaut-width;
        padding-right: 100px;
        text-align: left;

        > h2 {
          text-align: left;
          color: white;
          font-size: 2em;
          font-weight: 300;
        }
      }

      .astronaut {
        width: $astronaut-width;

        .cord {
          // Looks off, might be some way of adding the cord in with an animation
          display: none;
        }
      }

      > .astronaut-star-group {
        position: absolute;
        left: 6.25%;
        top: -4%;
        width: 36.736111111%;
      }
    }

    .why {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 40px;
      margin: 300px 100px;
      padding: 100px;

      h1 {
        color: $human-blue;
        text-align: left;
      }
    }

    .join {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px;

      h1 {
        color: $human-blue;
        text-align: left;
      }
    }

    .mountains-container {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .mountains {
      position: relative;
      bottom: 0;
      left: 0;
      max-height: $mountain-size;
      width: 100%;
    }

    .mountain-placeholder {
      width: 100%;
      max-height: $mountain-size;
    }

    .mountain-foreground {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: $mountain-size;
    }

    .mountain-midground {
      width: 100%;
      max-height: 0.8 * $mountain-size;
    }

    .mountain-background1 {
      width: 28%;
      max-height: 0.8 * $mountain-size;
    }

    .mountain-background2 {
      width: 100%;
      max-height: 0.8 * $mountain-size;
    }
  }

  form[name="submit-application"] {
    max-width: 50%;
  }
}
