.layout.privacy-tos-page {
  header {
    position: initial;
  }

  > main {
    padding: 0, 10rem;
    .privacy-tos-section {
      padding: 0, 10 rem;
      text-align: center;

      > h1 {
        font-size: 2.5rem;
      }

      > h3 {
        text-align: left;
        font-size: 1.3rem;
      }

      > p {
        text-align: left;
      }
    }
  }
}
