.layout.roar {
  main {
    position: relative;
  }

  .btn {
    padding: 10px 20px;
  }

  .hero-container {
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;
    // First row is for the header and the second is for the hero section.
    grid-template-rows: minmax(70px, 110px) 85%;

    > .dots {
      grid-row: 2;
      height: 70%;
      width: 90%;
      max-height: 625px;
    }
  }

  .how-it-works {
    background-color: $human-blue;
    width: 100%;
    height: 100vh;

    display: grid;
    // grid-template-columns: minmax(25px, 1fr) 800px minmax(25px, 1fr);
    place-items: center;

    > .how-it-works__wrapper {
      margin: 0 25px;
      min-width: 50%;
      width: 800px;
      max-width: calc(100vw - 50px);

      > .how-it-works__title {
        color: white;
        text-align: center;
        margin-bottom: 2rem;
      }

      // Making the iframe responsive
      > .video {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */

        > iframe {
          margin: 0 auto;

          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .learn-more {
    width: 100%;
    position: relative;

    > .big-circle {
      width: 10%;
      max-width: 200px;
      fill: $human-pink;
      position: absolute;
      top: 3rem;
      right: 0;
      z-index: -1;
    }

    > .small-circle {
      width: 6%;
      max-width: 120px;
      fill: $human-blue;
      position: absolute;
      bottom: 10rem;
      left: 0;
      z-index: -1;
    }

    > .learn-more__info {
      display: grid;
      grid-template-columns: minmax(20%, 12rem) 55%;

      justify-content: center;
      padding: 10rem 15%;

      > h3 {
        font-weight: 400;
      }

      > p {
        margin-left: 2.5rem;
      }
    }
  }

  .get-updates {
    display: grid;
    grid-template-columns:
      1fr minmax(max-content, 300px) minmax(max-content, 300px)
      1fr;
    gap: 20px;
    align-items: center;
    margin: 5rem 0;
  }

  .slack,
  .newsletter__form {
    height: 52px;
  }

  .slack {
    background-color: white;
    color: $human-blue;
    font-weight: bold;
    grid-column: 2;
    align-self: flex-start;

    border: 1px solid $human-blue;

    display: flex;
    gap: 0.5rem;
  }

  .slack:hover {
    border: 1px solid $human-blue;
    background-color: $human-blue;
    color: white;
  }

  .newsletter {
    grid-column: 3;
  }

  .newsletter__form {
    display: flex;
    place-items: center;
    margin-bottom: 0;
  }

  .newsletter__email {
    height: 100%;
    flex-grow: 1;
    outline: none;
    color: $human-blue;
    padding: 0 1rem;
    border: 1px solid $human-blue;
    border-radius: 4px 0 0 4px;
  }

  .newsletter__submit {
    height: 100%;
    border-radius: 0 4px 4px 0;
  }

  .newsletter__promise {
    font-size: 0.6rem;
    text-align: right;
  }

  /* social media bar */
  .social-media-bar {
    position: absolute;
    bottom: 0;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    button {
      display: block;
    }

    .react-share__ShareButton[aria-label="reddit"] {
      circle {
        fill: #FF4500;
      }
    }

    .social-link {
      height: 48px;
      margin-bottom: 5px;
      svg {
        width: 48px;
      }
    }
  }

  /* media query */
  @media (max-width: 700px) {
    .learn-more {
      > .big-circle {
        width: 20%;
        top: 1.5rem;
        right: -1rem;
      }

      > .small-circle {
        display: none;
      }

      > .learn-more__info {
        display: flex;
        flex-direction: column;
        padding: 10rem 25px;

        > h3:first-child {
          margin-top: 40px;
        }

        > p {
          margin-left: 0;
        }
      }
    }

    .get-updates {
      display: grid;
      grid-template-columns: initial;
      grid-template-rows: max-content max-content;
      align-items: center;
      justify-content: center;
      margin: 5rem 0;
    }

    .slack {
      grid-column: initial;
    }

    .newsletter {
      grid-column: initial;
    }

    .social-media-bar {
      position: static;
      display: flex;
      justify-content: center;

      button,
      .social-link svg {
        margin: 0 10px;
      }
    }
  }

  @media (max-width: 800px) {
    .how-it-works__title {
      font-size: 4.8vw;
    }
  }
}
