.layout.roar {

  header {
    height: auto;
    background-color: white;

    padding: 0 25px;

    svg.roar-logo {
      height: 60px;
      transition: all 0.3s;
      margin: 25px 0;
    }

    a.roar-home:not(.active) {
      svg.roar-logo {
        height: 40px;
        margin: 15px 0;
      }
    }

    a.internal-link {
      @include button-fonts;
      color: $human-pink;
      cursor: pointer;
    }

    .other-links {
      display: flex;
      gap: 28px;
      align-items: center;
    }
  }

  .btn {
    padding: 10px 20px;
  }

  .get-updates {
    display: grid;
    grid-template-columns:
      1fr minmax(max-content, 300px) minmax(max-content, 300px)
      1fr;
    gap: 20px;
    align-items: center;
    margin: 5rem 0;
  }

  .slack,
  .newsletter__form {
    height: 52px;
  }

  .slack {
    background-color: white;
    color: $human-blue;
    font-weight: bold;
    grid-column: 2;
    align-self: flex-start;

    border: 1px solid $human-blue;

    display: flex;
    gap: 0.5rem;
  }

  .slack:hover {
    border: 1px solid $human-blue;
    background-color: $human-blue;
    color: white;
  }

  .newsletter {
    grid-column: 3;
  }

  .newsletter__form {
    display: flex;
    place-items: center;
    margin-bottom: 0;
  }

  .newsletter__email {
    height: 100%;
    flex-grow: 1;
    outline: none;
    color: $human-blue;
    padding: 0 1rem;
    border: 1px solid $human-blue;
    border-radius: 4px 0 0 4px;
  }

  .newsletter__submit {
    height: 100%;
    border-radius: 0 4px 4px 0;
  }

  .newsletter__promise {
    font-size: 0.6rem;
    text-align: right;
  }

  /* media query  */
  @media (max-width: 700px) {
    .logo {
      padding-left: initial;
    }

    .btn--download {
      display: none; /* Hide the download button on mobile */
    }

    .get-updates {
      display: grid;
      grid-template-columns: initial;
      grid-template-rows: max-content max-content;
      align-items: center;
      justify-content: center;
      margin: 5rem 0;
    }

    .slack {
      height: initial;
      grid-column: initial;
    }

    .newsletter {
      height: initial;
      grid-column: initial;
    }
  }
}
