.spy-container {
  height: 100vh;
  display: grid;
  place-items: center;

  .wrapper {
    text-align: center;

    form {
      display: flex;
      flex-direction: row;

      input {
        line-height: 1;
        padding: 15px 10px;
        border: 3px solid $human-blue;
      }

      input[type="text"] {
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      input[type="submit"] {
        width: 30%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      input[type="submit"]:hover {
        background-color: white;
        color: $human-blue;
      }
    }
  }
}
