$human-blue: #164176;
$human-light-blue: #4A81BC;
$human-pink: #FA759E;
$human-grey: #8aa0bc;
$border-grey: #DFDFDF;

.white {
  color: white !important;
}

.human-blue {
  color: $human-blue !important;
}
