$margin-around-mac: 2em;
$breakpoint-show-texts: 1548px;


.designs {
  height: 275vh !important;
  width: 100%;

  position: relative;

  > .designs-content-container {
    @include header-width(padding);

    &.static {
      position: static;
    }

    &.fixed {
      position: fixed;
      top: 0;
    }

    &.absolute {
      position: absolute;
      bottom: 0;
    }

    width: 100%;
    height: 100vh;

    > .designs-content {
      margin-top: 5%;
      margin-bottom: 5%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > .header-container {
        margin-bottom: $margin-around-mac;
        display: flex;

        > h1 {
          margin-bottom: 0;
        }
      }

      .explanation {
        opacity: 0;
        transition: opacity 0.2s;
        > h2 {
          color: $human-pink;
        }
        > p {
          color: $human-blue;
          margin-bottom: 0;
        }
      }

      > .mac-container {
        position: relative;
        max-height: 65%;

        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1600px;
        width: 100%;

        > .mac-with-screens > svg {
          max-width: 100%;
          max-height: 100%;

          .screen {
            opacity: 0;
            transition: opacity 0.2s;

            &#0_widget-closed {
              opacity: 1;
            }
          }
        }

        > .explanations-container.cards {
          > .explanation {
            display: none;
            position: absolute;
            top: 35%;
            left: 0;
            padding: 25px;
            max-width: 280px;
            border: 2px $border-grey solid;
            border-radius: 10px;
            background-color: white;

            > h2 {
              text-align: left;
              font-size: 1.3rem;
              &.report-issues {
                max-width: 160px;
              }
            }
          }
        }
      }

      > .explanations-container.texts {
        position: relative;
        width: 100%;
        margin-top: $margin-around-mac;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > .explanation {
          display: none;

          position: absolute;
          max-width: $max-main-page-item-width;
          margin-right: 25px;
          top: 0;
          @include onmobile {
            > h2 {
              font-size: 1.2em;
            }
          }
          > p {
            text-align: center;
          }
        }
      }
    }
  }

  @include onmobile {
    @media (orientation: landscape) {
      margin-bottom: 4em;

      > .designs-content-container {
        padding-left: 0;
        padding-right: 0;

        > .designs-content {
          flex-direction: row;

          > .header-container {
            margin-right: 25px;
            flex-grow: 1;

            > h1 {
              width: 100%;
              text-align: center;
            }
          }

          > .mac-container {
            max-height: 95%;
            margin-right: 25px;
          }

          > .explanations-container > .explanaion {
            display: none !important;
          }
        }
      }
    }
  }
}
