
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src:
  local('Helvetica Neue Light'),
  local('HelveticaNeue-Light'),
  url("../fonts/HelveticaNeue-Light-08.ttf");
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src:
  local('Helvetica Neue'),
  local('HelveticaNeue'),
  url("../fonts/HelveticaNeue-01.ttf");
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src:
    local('Helvetica Neue Medium'),
    local('HelveticaNeue-Medium'),
    url("../fonts/HelveticaNeue-Medium-11.ttf");
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src:
    local('Helvetica Neue Bold'),
    local('HelveticaNeue-Bold'),
    url("../fonts/HelveticaNeue-Bold-02.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto Regular'),
    local('Roboto-Regular'),
    url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
    url("../fonts/Roboto-Light.ttf");
}