@import './shared/functions';
@import './shared/colors';
@import './shared/sizes';
@import './shared/fonts';
@import './shared/layout';
@import './components/link';
@import './components/header';
@import './components/button';
@import './components/file-upload-button';
@import './components/hero';
@import './components/icons';
@import './components/card';
@import './components/footer';
@import './components/submit-application-form';
@import './components/designs';
@import './components/widget';
@import './pages/index';
@import './pages/thank-you';
@import './pages/demo';
@import './pages/issue';

h1 {
  color: $human-blue;
}

p.indent {
  text-indent: 1em;
}

h1, h2 {
  text-align: center;
}

@include onmobile {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}