$header-height: 100px;

header {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: $nonhero-margin;
  padding-bottom: $nonhero-margin;

  @media (max-width: $breakpoint-header-scrolls) {
    position: absolute;
  }

  @media (max-width: 800px) {
    padding-left: $nonhero-margin;
    padding-right: $nonhero-margin;
  }

  > a.home-link {
    > svg.header-logo {
      .pink-fill {
        fill: $human-pink;
      }
      .blue-white-fill {
        fill: var(--logo-color-blue-white);
      }
      .blue-white-stroke {
        stroke: var(--logo-color-blue-white);
      }

      .primary-fill {
        fill: var(--logo-color-blue-white)
      }
      .secondary-fill {
        fill: $human-pink;
      }

      &:hover {
        .primary-fill {
          fill: $human-pink;

        }
        .secondary-fill {
          fill: var(--logo-color-blue-white)
        }
      }
    }
  }
}

:root {
  --logo-color-blue-white: white;
}
