@import './variables';
@import './trix';
@import './trix-overrides.scss';
@import './link';

.MuiButtonBase-root {
  background-color: $human-blue;

  &:hover {
    background-color: $human-pink !important; // TODO: look into why this doesn't work w/out important
  }
}

header {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (max-width: $breakpoint-header-scrolls) {
    position: absolute;
  }

  @media (max-width: 800px) {
    padding-left: calc(20vw + -60px);
    padding-right: calc(20vw + -60px);
  }
}

.apply-link {
  padding-right: 14px !important;
}

@media (min-width: $breakpoint-mobile + 1px) {
  .layout.index > main > .join-card-contents {
    display: none;
  }
}

.layout.index > header {
  @media (min-width: $breakpoint-mobile + 1px) {
    button.apply-link {
      display: none;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    a[href="/apply"] {
      display: none;
    }
  }
}

.hero {
  background-image: linear-gradient(to bottom right, $human-blue, $human-light-blue, $human-pink);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: $nonhero-margin;
  padding-right: $nonhero-margin;

  @media (min-width: $breakpoint-mobile + 1px) {
    min-height: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 190px;
    padding-bottom: $nonhero-margin;
  }

  > h1, h2 {
    color: $human-blue;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      text-align: left;
    }
  }

  > h1 {
    max-width: 730px;
    font-size: 2.7777777777777777rem;
    font-weight: 300;
  }

  > h2 {
    margin-top: $nonhero-margin;
    max-width: 700px;
    font-size: 1.44444444444444rem;
    font-weight: 500;
  }
}

.MuiButtonBase-root {
  background-color: #164176;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-transform: none;
}

.MuiButtonBase-root:hover {
  background-color: #4A81BC;
}

.white {
  color: white !important;
}

.human-blue {
  color: $human-blue !important;
}

.manifesto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 132px;

  @media (max-width: $breakpoint-mobile) {
    padding-top: 60px;
  }
}

.manifesto-contents {
  max-width: 600px;
  margin-left: $nonhero-margin;
  margin-right: $nonhero-margin;

  > p {
    text-indent: 1em;
  }

  > p.lets-create {
    text-indent: 0;
    text-align: auto;
    text-justify: auto;

    @media (max-width: $breakpoint-mobile) {
      > a[href="/apply"] {
        display: none;
      }
    }

    @media (min-width: $breakpoint-mobile + 1px) {
      > span {
        display: none;
      }
    }
  }


  > p.signature {
    text-align: right;
  }
}

@media (min-width: $breakpoint-mobile + 1px) {
  .MuiCard-root.join {
    margin-top: 60px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .77777em;
  max-width: calc(100vw - (2 * #{$nonhero-margin}));
  margin-left: $nonhero-margin;
  margin-right: $nonhero-margin;

  padding-top: 88px;

  @media (max-width: $breakpoint-mobile) {
    padding-top: 40px;
  }
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  @media (max-width: $breakpoint-mobile) {
    min-width: 100%;
  }

  > .footer-link {
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-rings {
    max-width: 276px !important;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }
}

.file-upload-button-container {
  min-height: 100%;
  min-width: 30%;

  > button {
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;

    > .MuiButton-label {
      justify-content: flex-start;
      font-size: 16px;
      padding: 11.6916656494140625px 15px; // Makes this the same size as a TextInput
    }

    @media (max-width: $breakpoint-mobile) {
      min-width: 100%;
    }
  }
}

.MuiCard-root {
  @media (min-width: $breakpoint-mobile + 1px) {
    min-width: 460px;
    padding-top: 16px;
  }
}

.MuiCard-root > h2,
.join-card-contents > h2 {
  font-weight: 300;
  color: $human-blue;
  font-size: 2.55556rem;

  margin-top: 28px;
  margin-bottom: 12px;
  width: 100%;
  text-align: center;

  @media (max-width: $breakpoint-mobile) {
    margin-top: 50px;
  }
}

form[name="submit-application"] {
  margin-bottom: 0;

  button[type="submit"] {
    padding-top: 16px;
    padding-bottom: 16px;

    > .MuiButton-label {
      font-size: 20px;
    }
  }

  .MuiFormGroup-root {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.MuiFormGroup-root.stretch-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;

    .MuiFormControl-root {
      margin-bottom: 20px;
    }
  }

  .MuiFormControl-root:first-child {
    flex-grow: 1;
  }

  > .spaced-vertically-centered-text {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}

.MuiCardContent-root {
  padding: $nonhero-margin;
}

.MuiCardContent-root:last-child {
  padding-bottom: $nonhero-margin;
}

.MuiSvgIcon-root,
.MuiAvatar-root.MuiAvatar-circle {
  width: 35px;
  height: 35px;
}

.MuiSvgIcon-root.email {
  margin-top: 1px;
  margin-left: 3px;
  height: 29px;
  width: 29px;
}

.MuiSvgIcon-root.close {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
  height: 29px;
  width: 29px;
}

.MuiCardContent-root.thank-you p {
  text-align: center;
}

.hero.join {
  min-height: 832px;
}

.MuiFormLabel-root.Mui-focused {
  color: $human-blue;
}

.MuiOutlinedInput-root.Mui-focused,
.MuiOutlinedInput-root:hover {
  > .MuiOutlinedInput-notchedOutline {
    border-color: $human-blue;
  }
}
