$breakpoint-mobile: 600px;
$breakpoint-header-scrolls: 1300px;

$human-blue: #164176;
$human-light-blue: #4A81BC;
$human-pink: #FA759E;

.MuiButtonBase-root {
  background-color: $human-blue;

  &:hover {
    background-color: $human-pink !important; // TODO: look into why this doesn't work w/out important
  }
}

header {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (max-width: $breakpoint-header-scrolls) {
    position: absolute;
  }

  @media (max-width: 800px) {
    padding-left: calc(20vw + -60px);
    padding-right: calc(20vw + -60px);
  }
}

.apply-link {
  padding-right: 14px !important;
}

.extra-apply-link-container {
  display: none;

  @media (max-width: $breakpoint-header-scrolls) and (min-width: $breakpoint-mobile + 1px) {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    > .apply-link {
      height: 50px;
    }
  }
}

@media (min-width: $breakpoint-mobile + 1px) {
  .layout.index > main > .join-card-contents {
    display: none;
  }
}

.layout.index > header {
  @media (min-width: $breakpoint-mobile + 1px) {
    button.apply-link {
      display: none;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    a[href="/apply"] {
      display: none;
    }
  }
}

.hero {
  background-image: linear-gradient(to bottom right, $human-blue, $human-light-blue, $human-pink);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: $breakpoint-mobile + 1px) {
    min-height: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 190px;
    padding-bottom: 30px;
  }

  > h1 {
    max-width: 660px;
    font-weight: 300;
    color: $human-blue;
    font-size: 2.5rem;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      text-align: left;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.MuiButtonBase-root {
  background-color: #164176;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-transform: none;
}

.MuiButtonBase-root:hover {
  background-color: #4A81BC;
}

.white {
  color: white !important;
}

.manifesto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 132px;

  @media (max-width: $breakpoint-mobile) {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.manifesto-contents {
  max-width: 500px;

  > p {
    text-indent: 1em;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media (min-width: $breakpoint-mobile + 1px) {
  .MuiCard-root.join {
    margin-top: 60px;
  }
}

footer {
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  > .footer-link {
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-rings {
    max-width: 276px;
  }
}

.file-upload-button-container {
  min-height: 100%;

  > button {
    height: 100%;
    padding: 0;
    position: relative;
    // padding-left: 15px;

    > .MuiButton-label {
      justify-content: flex-start;
      font-size: 16px;
      padding: 11.6916656494140625px 15px; // Makes this the same size as a TextInput
    }

    @media (max-width: $breakpoint-mobile) {
      min-width: 100%;
    }
  }
}

.MuiCard-root {
  @media (min-width: $breakpoint-mobile + 1px) {
    min-width: 460px;
    padding-top: 16px;
  }
}

.MuiCard-root > h2,
.join-card-contents > h2 {
  font-weight: 300;
  color: $human-blue;
  font-size: 2.55556rem;

  margin-top: 28px;
  margin-bottom: 12px;
  width: 100%;
  text-align: center;

  @media (max-width: $breakpoint-mobile) {
    margin-top: 50px;
  }
}

form[name="submit-application"] {
  margin-bottom: 0;

  button[type="submit"] {
    padding-top: 16px;
    padding-bottom: 16px;

    > .MuiButton-label {
      font-size: 20px;
    }
  }

  .MuiFormGroup-root {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.MuiFormGroup-root.stretch-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;

    .MuiFormControl-root {
      margin-bottom: 20px;
    }
  }

  > .spaced-vertically-centered-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    @media (max-width: $breakpoint-mobile) {
      // flex-direction: column;
      // margin-top: 14px;
      // margin-bottom: 14px;
      display: none;
    }
  }
}

.MuiCardContent-root {
  padding: 30px;
}

.MuiCardContent-root:last-child {
  padding-bottom: 30px;
}

.MuiSvgIcon-root,
.MuiAvatar-root.MuiAvatar-circle {
  width: 35px;
  height: 35px;
}

.MuiSvgIcon-root.email {
  margin-top: 1px;
  margin-left: 3px;
  height: 29px;
  width: 29px;
}

.MuiSvgIcon-root.close {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
  height: 29px;
  width: 29px;
}

.MuiCardContent-root.thank-you p {
  text-align: center;
}
