$breakpoint-mobile: 600px;
$breakpoint-header-scrolls: 1300px;

$human-blue: #164176;
$human-light-blue: #4A81BC;
$human-pink: #FA759E;

$nonhero-margin: 25px;

@mixin onmobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin ondesktop {
  @media (min-width: $breakpoint-mobile + 1px) {
    @content;
  }
}
